@charset "UTF-8";

@font-face{
	font-family:"lemon";
	src: url("fonts/LemonMilk.otf");
}


body{
	font-family: "Lato", Helvetica, "Helvetica Neue",Verdana, Arial ,sans-serif;
}


.vermelho{
	color:#fff;
	background-color:rgb(102, 29, 88);
}

.top{
	top:0;
	position: fixed;
	width:100%;
	z-index:1;
}

.top div ul li{
	font-size:17px;
}

.topnav{
	list-style-type: none;
	overflow: hidden;
	background-color: #f44336;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 02px 5px 0 rgba(0,0,0,0.12);
}

/*  ESCONDER O LINK PARA TELAS MENORES DO MENU*/
.topnav .icon{
    display: none;
}

.top h1 input{
	font-family: "Montserrat", sans-serif;
}


.topnav a{
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 16px 24px;
	text-decoration: none;
	font-size: 18px;
}

.topnav a:hover{
	background-color: #fff;
	color: #000;
}


#cabecalho{
	width:100%;
	height: 100vh;
	background-color: rgb(102, 29, 88);
	text-align:center;
	position:relative;
	min-height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
}



#cabecalho header{
	display:table;
	margin: 0 auto;
	height:100%;
	padding: 0 20px;
}

#cabecalho h1{
	font-size:25px;
	color: #000000;
	font-family: "lemon", sans-serif;
}

.flecha{
	bottom:2%;
	display:inline-block;
	position:absolute;
	right: 7%;
	text-decoration: none;
	transition: color 0.2s ease-out;
	padding: 20px;
	font-size: 1.3em;
}

#cabecalho a{
	text-decoration: none;
	transition: all .5s ease-in-out;
}

.cabecalho{
	display: table-cell;
	position: relative;
	vertical-align:middle;
}

.cabecalho p{
	font-size: 18px;
}

#typed{
	font-size: 18px;
	color: #000;
}

.cabecalho h1{
	margin: 16px;
	font-size:5.7em;
	color: #cccccc;
	text-align: center;
}

#cabecalho header div form {
	padding: 15px;	
}


.intro{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	line-height:1.42857143;
	color: #545454;
}


.abreFecha{
	color: #fff;
}


.container{
	padding: 3em 0 3em;
}


#intro article p{
	color: #757575;
	font-size: 17px;
}

#intro{
	padding: 7em 0 7em;
	position: relative;
	background: #f1f1f1;
	overflow:hidden;
}

#intro article{
	margin: 0 auto;
	max-width: 470px;
}

#intro p{
	text-aligh:center;
	font-size: 17px;
	margin: 0 0 10px;
	font-weight: 300;
}

#intro article figure{
	margin: 20px auto;
	max-width: 177px;
}

#intro article h3{
	padding: .5em 0;
	color: #f44336;
	font-size: 2em;	
}

#sobre{
	color: #000;
	background-color: #f1f1f1;
	position: relative;
	padding: 7em 0 7em;
	overflow:hidden;
}

#sobre article{
	margin: 0 auto;
	max-width:470px;
}

#sobre article figure{
	margin: 20px auto;
	max-width:177px;
}

#sobre article h3{
	padding: .5em 0;
	color: #f3867e;
}

#sobre article p{
	font-size: 17px;
	color:#000;
}

#oquefaco dl{
	font-size: 15px;
	margin-top: 0px;
	font-family: mbnk;
}

#oquefaco dt{
	font-weight:700;
	margin-top:10px;
}

#oquefaco article{
	max-width:800px;
	margin:0 auto;
}

#responsive {
	padding-right: 15px;
	padding-left:15px;
}

#responsive div h1{
	color: #e68a00;
	font-size: 30px;
}

#java{
	min-height: 500px;
	color: #fff;
	background: linear-gradient(rgba(89, 89, 89, 0.9), rgba(51, 51, 51, 0.9));
}

.azul{
	color:rgb(22, 213, 255);
}

.py{
	color:#0086b3;
}

.thon{
	color:#ffff00;
}

#java h1{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}

#java p{
	color: #fff;
}

.conteudoHabilidade{
	padding: 3em 0 3em;	
	text-align: center;
	overflow: hidden;
}

.conteudoHabilidade header{
	padding: 2em 0;
}

.conteudoHabilidade p{
	font-size: 17px;
	margin: 0 0 10px;
	font-weight: 300;
	color:#404040;
}

#desenho{
	text-align: left;
	margin: 3em 0 6em;
}


#banco #desenho div h3{
	padding: 0 0 1em;
	margin:0;
	color: #148408;
}

#desenho div h3{
	padding: 0 0 1em;
	margin: 0;
}

#progresso{
	text-align: left;
	margin: 3em 0;
}

#banco #progresso div h3{
	padding: 0 0 1em;
	margin:0;
	color:#148408;
}

.banco-cor{
	color: rgb(234, 27, 34);
}

#progresso div h3{
	padding: 0 0 1em;
	margin: 0;
}

.conteudoHabilidade p{
	font-size:1.2em;
}

.conteudoHabilidade .banco-design{
	margin:0 auto;
	position: relative;
}

.conteudoHabilidade .banco-design figure{
	max-width:177px;
	margin:0 auto;
	padding-bottom: 2em;
}

.conteudoHabilidade .banco-design figure img{
	width:100%;
}

.conteudoHabilidade .banco-progresso figure{
	max-width:177px;
	margin: 0 auto;
	padding-bottom: 2em;
}

.conteudoHabilidade .banco-progresso figure img{
	width: 100%;
}

.conteudoHabilidade .web-progresso figure{
	max-width:200px;
	height:200px;
	margin:0 auto;
	padding-bottom: 2em;
}

.conteudoHabilidade .web-progresso figure img{
	width: 100%;
}

.conteudoHabilidade .java-design figure{
	max-width:140px;
	margin:0 auto;
	max-height:300px;
}

.conteudoHabilidade .java-progresso figure{
	max-width:195px;
	margin: 0 auto;
	padding-bottom: 50px;
}


.conteudoHabilidade .java-progresso figure img{
	width:100%;
}
.conteudoTeste{
	text-align: left;
	padding: 0 0 0 2em;
}

#banco{
	background-color:#b6dcfb;
}



.doisTerços{
	float: left;
	width:100%;
}
	

.doisTerços h5{
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 18px;
}

.terço{
	width:100%;
	float:left;
	text-align:center;
}


.desenvolver{
	color: #ff9900;
}


.java-icon{
	width:100%;
	height:100%;
	padding-bottom:5em;
}

.pythonIcon{
	padding-bottom: 12em;
	margin:0 auto;
	width:185px;
	padding-top:2em;
	padding-right:2em;
}

#iconeConteudo{
	width: 200px;
	position: absolute;
	margin-left: 150px;
	margin-top: 55px;
}

.icone{
	width:100%;
}

a.btn,.btn {
  	margin-bottom: 1em; /* remove this while use*/
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}

.btn-large {
	font-size: 1.0625em;
	padding: 0.5625em 1.5em;
}

.btn-blue {
	color: #4682B4;
	border-color: #4682B4;
}

.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;		
}

.btn-yellow{
	background: rgb(254, 215, 102);
	border-color: rgb(5, 5, 5);
	border-radius: 50px;
	color:rgb(5,5,5);
}

.btn-yellow:hover{
	background: rgb(5, 5, 5);
	color: rgb(254, 215, 102);
	font-weight:700;
	border-color:rgb(5,5,5);
}

#contato{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	line-height:1.42857143;
	background-color:rgb(254, 215, 102);
	font-family: 'Montserrat', sans-serif;
}

#contato article{
	max-width:600px;
	margin: 0 auto;
}

#contato header{
	margin-top: 20px;
}

#contato h1{
	font-weight:700;
}

#contato h3{
	color:#000000;
	padding-top:1em;
	font-size:20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#contato p{
	font-size:15px;
	padding-top: 35px;
}

#rodape{
	margin: 0 0 0em;
	position: relative;
	background-color: rgb(102, 29, 88);
	color: #fff;
}

#rodape a{
	color:#fff;
	padding-left: 5px;
}

.social{
	width: auto;
	height: auto;
	padding-bottom: 32px;
	max-width:150px;
	margin:0 auto;
	font-size:40px;
	text-decoration:none;
}

.rodape article h1{
	text-align: center;
	padding: .5em 0;
}

#rodape footer div i:hover{
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#rodape footer p{
	font-size: 11px;
	padding: 50px 0 0 0;
}


.textoCentro{
	text-align: center;
}

@media screen and (min-width: 550px){
	.cabecalho-img{
		min-width:550px;
		background-image: url(../img/philipemountain.jpg);
	}
	
	.cabecalho p{
		font-size: 24px;
	}
	
	#cabecalho h1{
		font-size:2.3em;
	}
	
	.flecha{
		right: 20%;
	}
	
	#typed{
		font-size: 24px;
	}
	
	#java{
		background: linear-gradient(rgba(89, 89, 89, 0.9), rgba(51, 51, 51, 0.9)), url(../img/code_background.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size:cover;
	
	}
	
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive  li a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li a{
    float: none;
    display: block;
    text-align: left;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 
.topnav li{
  display: none;
 }
 
 .topnav li.icon {
    float: left;
    display: block;
  }
}


@media screen and (min-width: 601px){
	
	.doisTerços{
		width:67.77777%;
	}
	
	.terço{
		width:32.22222%;
		text-align:center;
	}
	
}

@media screen and (min-width: 750px){
	#cabecalho h1{
		font-size:3.4em;
	}
	
	.flecha{
		font-size: 1.7em;
		right: 13%;
	}
	
	#responsive div h1{
	font-size: 35px;
	}
	
}

@media screen and (min-width: 1000px){
	#cabecalho h1{
		font-size:5.7em;
	}
	
	.flecha{
		font-size: 1.7em;
		right: 30%;
	}
	
	#responsive div h1{
		font-size: 45px;
	}
}
